/* Passion Project V1 Styles for Lessons Page */
.navbar {
    background-color: goldenrod !important; 
}
.bg-primary {
    background-color: purple !important; 
}
h1 {
    font-family: 'Poiret One';
    font-family: 'Unica One';
    text-align: center;
    padding-top: 75px; 
    padding-bottom: 25px; 
    font-size: 60px; 
    color: white; 
}
.nav-item {
    font-family: 'Poiret One';
    font-family: 'Unica One';
    font-size: 18px; 
    color: white; 
}
h2 {
    font-family: 'Cabin Sketch'; 
    text-align: center; 
    font-size: 35px; 
    color: white; 
    padding-bottom: 40px; 
}
h3 {
    font-family: Arial, Helvetica, sans-serif; 
    font-style: oblique; 
    text-align: center;  
    text-align: left; 
    padding-top: 25px; 
    font-size: 20px; 
    color: white; 
    padding-bottom: 20px; 
    padding-top: 20px; 
}
p {
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    padding-top: 25px; 
    font-size: 18px; 
    color: white; 
}
img {
   border-style: solid; 
   border-color: goldenrod; 
   border-width: 3px; 
}
li {
    font-family: 'Roboto', sans-serif;
    padding-top: 25px; 
    font-size: 18px; 
    color: white; 
}
.button {
    border-style: solid; 
    border-color: goldenrod; 
    border-width: 3px; 
    text-align: center; 
    color: goldenrod; 
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif; 
    align-items: center; 
}
