/* Passion Project V1 Styles for Homepage */
.navbar {
    background-color: goldenrod !important; 
}
.bg-primary {
    background-color: purple !important; 
}
h1 {
    font-family: 'Poiret One';
    font-family: 'Unica One';
    text-align: center;
    padding-top: 25px; 
    padding-bottom: 25px; 
    font-size: 75px; 
    color: white; 
}
.nav-item {
    font-family: 'Poiret One';
    font-family: 'Unica One';
    font-size: 18px; 
    color: white; 
}
h2 {
    font-family: 'Cabin Sketch'; 
    text-align: center; 
    font-size: 35px; 
    color: white; 
}
h3 {
    font-family: Arial, Helvetica, sans-serif; 
    font-style: italic;
    text-align: center; 
    padding-top: 25px; 
    font-size: 25px; 
    color: white; 
}
p {
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    padding-top: 25px; 
    font-size: 18px; 
    color: white; 
}
img {
   border-style: solid; 
   border-color: goldenrod; 
   border-width: 3px; 
}
